.availability-view {
  --scrollbar-width: 10px;
}

/* .button-secondary {
  color: var(--text-color);
  background-color: var(--surface-200);
  border-color: var(--surface-200);
}

.button-small {
  font-size: 0.75em;
  font-weight: 500;
}

.button-secondary:hover {
  background-color: var(--surface-300);
} */

.no-highlights {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.availability-view .area {
  overflow-y: auto;
  max-height: 75svh;
  border: 1px solid var(--surface-border);
  border-left: none;
  border-top: none;
}

.availability-view .day-column {
  border-left: 1px solid var(--surface-border);
}

.availability-view .area .content {
  cursor: pointer;
  position: relative;
  touch-action: none;
}

div *::-webkit-scrollbar {
  background: var(--surface-0);
  width: var(--scrollbar-width);
}

div *::-webkit-scrollbar-thumb {
  border-radius: var(--scrollbar-width);
  background-color: var(--surface-300);
  overflow-x: auto;
}

div *::-webkit-scrollbar-thumb:hover {
  background-color: var(--surface-400);
}

.handle {
  width: 12px;
  height: 12px;
  border-radius: 8px;
  position: absolute;
  background-color: var(--primary-color);
  outline: 2px solid var(--surface-ground);
  pointer-events: initial;
  cursor: ns-resize;
  user-select: none;
  touch-action: none;
}

.availability-grid {
  display: grid;
  grid-template-columns: 5em auto;
  width: 100%;
}

.availability-view .cell-day {
  text-align: center;
  font-size: 0.75rem;
  text-transform: uppercase;
  font-weight: 600;
  padding: 1.5em 0;
  user-select: none;
  pointer-events: all;
  width: 100%;
  height: 100%;
}

.availability-view .cell-day :hover {
  background-color: var(--surface-200);
  border-radius: var(--border-radius);
}

.availability-view .cell-day .long-day {
  display: none;
}

.availability-view .cell-time {
  margin-right: 5px;
  text-align: end;
  vertical-align: top;
  font-size: 0.75rem;
  font-weight: 600;
  font-variant-numeric: tabular-nums;
  user-select: none;
}

.availability-view .cell-time-gutter {
  width: 0.5em;
  border-top: 1px solid var(--surface-border);
}

.availability-view .cell {
  position: relative;
  transition: all 0.2s ease;
  pointer-events: none;
}

.availability-view .cell .text {
  padding: 2px;
  z-index: 2;
  position: absolute;
  width: calc(100% - 5px);
  height: 100%;
  color: var(--primary-color-text);
  white-space: break-space;
  text-align: start;
  font-size: 0.85em;
  font-weight: bold;
  user-select: none;
  display: none;
}

.availability-view .cell .frame {
  position: absolute;
  z-index: 1;
  background-color: var(--primary-color);
  width: calc(100% - 5px);
  height: 100%;
  box-sizing: border-box;
}

.availability-view .cell .ghost {
  opacity: 0.5;
}

.availability-view .cell .horizontal-border {
  z-index: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.availability-view .cell-hover-cursor {
  font-size: 0.75rem;
  font-weight: 600;
  display: none;
  user-select: none;
  transition: opacity 0.2s ease;
}

.availability-view .cell-overlay-delete {
  opacity: 0;
  user-select: none;
  transition: opacity 0.2s ease;
}

.availability-view .edit-icon {
  width: 0.5em;
  height: 0.5em;
  font-size: 1em;
}

.availability-view .cell-overlay-delete .delete-icon {
  position: relative;
  background-color: var(--surface-300);
  border-radius: var(--border-radius);
  width: 2.5em;
  height: 2.5em;
  top: -1.25em;
  color: var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  box-shadow:
    0 3px 6px rgba(0, 0, 0, 0.16),
    0 3px 6px rgba(0, 0, 0, 0.23);
  transition: all 0.2s ease;
}

.availability-view .cell-overlay-delete .delete-icon:hover {
  background-color: var(--red-400);
}

.availability-view .button-toolbar {
  padding: 0.6em;
}

.availability-view .button-toolbar:focus {
  box-shadow: none !important;
}

.availability-view .button-zoom {
  border-radius: 0;
}

.availability-view .button-delete {
  padding: 0 1.5em;
}

.availability-view .button-delete:hover {
  background-color: var(--red-400);
}

.availability-view .region {
  border-radius: 8px;
  border: 4px solid var(--primary-color);
  background: color-mix(in srgb, var(--primary-color) 10%, transparent);
}

.availability-view .region .text {
  font-size: 0.75rem;
  font-weight: 600;

  margin-left: 5px;
  margin-top: 5px;
  width: 100;
}

.availability-view .region .text.smallCell {
  margin-top: 0px;
}

.availability-view .region.moving {
  border: 4px solid var(--surface-400);
  background: color-mix(in srgb, var(--surface-400) 10%, transparent);
}

.availability-view .region.moving .text {
  opacity: 0.8;
}

.availability-view .region .handle {
  width: 12px;
  height: 12px;
  border-radius: 8px;
  position: absolute;
  background-color: var(--primary-color);
  outline: 2px solid var(--surface-ground);
  pointer-events: initial;
  cursor: ns-resize;
  user-select: none;
  touch-action: none;
}

.availability-view .region .handle.top {
  top: -2px;
  left: 12%;
  transform: translateY(-50%);
}

.availability-view .region .handle.bottom {
  bottom: -2px;
  right: 12%;
  transform: translateY(50%);
}

.day-time-input .input-text-lg {
  width: 6em;
}

.column-overlay-time {
  display: flex;
  justify-content: space-between;
}

.column-overlay-time .text {
  display: flex;
  justify-content: start;
  align-items: center;
}

@media only screen and (min-width: 940px) {
  .availability-view .cell-hover-cursor {
    display: block;
  }

  .availability-view .cell .text {
    display: block;
  }
}

@media only screen and (min-width: 1600px) {
  .availability-view .cell-day .long-day {
    display: block;
  }

  .availability-view .cell-day .short-day {
    display: none;
  }
}
