.input-field {
  position: relative;
  top: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  width: min-content;
}

.input-field .button-area {
  display: flex;
  position: absolute;
  pointer-events: none;
  margin-left: auto;
  top: 0;
  height: 100%;
  padding: 1px;
}

.input-field .button-area-arrows {
  display: flex;
  flex-direction: row;
  height: 100%;
  z-index: 1;
}

.input-field .p-trigger {
  height: 100%;
  border-radius: 0;
  border-color: transparent;
  z-index: 1;
}

.input-field .p-button {
  pointer-events: all;
}

.input-field .p-inputnumber-button {
  pointer-events: all;
  height: 100%;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  font-size: 0.75em;
  border-color: transparent;
  padding: auto;
}

.input-field .p-button:focus {
  box-shadow: none !important;
}
