.whitelist {
  display: flex;
  flex-direction: column;
  align-items: start;

  min-height: 24em;
  max-height: 70svh;
}

.whitelist .add-button {
  height: 2.5em;
}

.whitelist .add-area {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: 24em;
  padding: 0.25rem 0em 4em 0em;
}

.whitelist .whitelist-user {
  display: flex;
  justify-content: space-between;
  padding: 0.25rem 0em;
  min-width: 24em;
}

.whitelist .whitelist-user .text {
  display: flex;
  justify-content: start;
  align-items: center;
}
